base58==2.1.0
argon2-cffi==21.1.0
asgiref==3.3.1
astor==0.8.1
attrs==21.2.0
autopep8==1.5.7
backcall==0.2.0
altair==4.1.0
matplotlib==3.4.3
matplotlib-inline==0.1.3
bleach==4.1.0
blinker==1.4
Brotli==1.0.9
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4

colorama==0.4.4
crispy-tailwind==0.2.0
cycler==0.10.0
dash==2.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy==1.4.3
pandocfilters==1.4.3
parso==0.8.2
Pillow==8.1.0
plotly==5.3.1
click 8.0.0
pyarrow==5.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.20
pycryptodome==3.10.1
pydeck==0.7.0
Pygments==2.10.0
pyparsing==2.4.7
Pyrebase4==4.5.0
pyrsistent==0.18.0
python-dateutil==2.8.2
python-decouple==3.4
python-jwt==2.0.1

rsa==4.7.2
scipy==1.7.1
seaborn==0.11.2



Unipath==1.1
urllib3==1.26.6
validators==0.18.2

webencodings==0.5.1

decorator==5.1.0
numpy==1.21.2

pandas==1.3.2


plotly==5.3.1
plotly_express==0.4.0


scipy==1.7.1
seaborn==0.11.2


